<div class="myflex content-title">
  <p><%= render 'shared/logo' %> / <%= link_to "Formules", disciplines_path %> / Modifier</p>
  <%= render 'shared/logout' %>
</div>

<div class="row back rowshadow">
  <div class="content col s12">
    <div class="row">
      <div class="content-form">
        <%= render 'form', discipline: @discipline %>
      </div>
    </div>
  </div>
</div>
