<p>Bonjour <%= @user.fullname %>,</p>
<p>Nous vous confirmons la pré-inscription pour <%= @cour.student.fullname %> au cour de <%= @cour.instrument.name %>.</p>
<p>Merci!</p>

<p>Musique en l'Isle.</p>
