<div class="title">
  <h4><a href="#" onClick="history.go(-1);return true;">
        <i class="fa fa-chevron-circle-left"></i></a> Liste d'élèves TOUTES SAISONS</h4>
     <%= form_tag adherent_students_path(current_user), method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Rechercher un élève"
    %>
  <% end %>
  <h5></h5>
</div>
<div class="mycard">
  <%= render 'shared/studentlist' %>
</div>

