<div class="title">
  <h4><a href="#" onClick="history.go(-1);return true;">
        <i class="fa fa-chevron-circle-left"></i></a></h4>
  <h4>Liste d'élèves</h4>
  <h5></h5>
</div>
<div class="mycard">
  <%= render 'shared/studentlist' %>
</div>

