<div class="title">
  <h4><a href="#" onClick="history.go(-1);return true;">
        <i class="fa fa-chevron-circle-left"></i></a></h4>
  <h4>Ajouter un élève</h4>
  <h5></h5>
</div>
<div class="row mycard">
  <%= simple_form_for @student, :url => adherent_students_path, :method => :post do |f| %>
    <% @f=f %>
    <%= render 'form', student: @student %>
  <% end %>
</div>
