<div class="myflex content-title">
  <p><%= render 'shared/logo' %> / Ajouter un élève</p>
  <%= render 'shared/logout' %>
</div>

<div class="row back rowshadow">
  <div class="content col s12">
    <div class="content-form">
      <%= simple_form_for @student, :url => adherent_students_path, :method => :post do |f| %>
        <% @f=f %>
        <%= render 'form', student: @student %>
      <% end %>
    </div>
  </div>
</div>
