<div class="title">
  <h4></h4>
  <h4>Ajouter un autre élève ?</h4>
  <h4></h4>
</div><div class="mycard center">
  <%= link_to "Oui", new_adherent_student_path(@adherent), class: "btn btn-success" %>
  <%= link_to "Non", adherent_path(@adherent), class: "btn btn-danger"  %>
</div>
