<div class="mycard center">
  <h1>Ajouter un autre élève ?</h1>
  <%= link_to "Oui", new_adherent_student_path(@adherent), class: "btn btn-success" %>
  <%= link_to "Non", adherent_path(@adherent), class: "btn btn-danger"  %>
</div>
