<div class="mycard center">
  <h1>Etes vous l'élève ?</h1>
  <%= link_to "Oui", yes_path(@adherent), class: "btn btn-success" %>
  <%= link_to "Non", new_adherent_student_path(@adherent), class: "btn btn-danger"  %>
</div>
