<div class="mycard center">
  <h4>Etes vous l'élève ?</h4>
  <%= link_to "Oui", adherent_yes_path(@adherent), class: "btn btn-success" %>
  <%= link_to "Non", new_adherent_student_path(@adherent), class: "btn btn-danger"  %>
</div>
