.back {
  background-color: $back;
}
.saison {
  font-size: 16px !important;
  height:30px;
}
.bas {
  align-items: flex-start;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  margin: 10px;
  padding: 5px
}
.logout {
  font-size: 50px !important;
}
.right {
  text-align:right;
}
.marge {
  height: auto;
  min-height: 100% !important;
  text-align: center;
  background-color: $back;
  padding : 10px;
  border-right: 1px solid #222;
  box-shadow: 2px 2px 3px black;
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 16px;
  }
  .btn a {
    text-decoration: none;
    color: white;
  }
  a {
    font-size: 16px;
  }
  .btn i {
    color: white;
  }
}
.rowshadow {
  background-color: $back;
  border: 1px solid #222;
  box-shadow: 2px 2px 3px black;
}
.content {
  padding: 0 !important;
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 16px;
  }
  .btn a {
    text-decoration: none;
    color: white;
  }
  .menu {
    font-size: 30px;
  }
  a {
    font-size: 25px;
  }
  li {
    padding: 20px;
  }
  tr {
    margin: 30px;
  }
}

.content-title {
  color: white;
  background-color: #111;
  padding: 0 5px 0 5px;
  margin: 0 !important;
  align-items: center;
  a {
    font-size: 20px;
  }
  p {
    font-size: 20px;
  }
  select {
    color: black;
    display: inline;
    width: 150px !important;
  }
}
.content-form {
  margin: 30px;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
}
.content-table {
  padding: 15px;
  a {
    font-size: 16px;
  }
}
i {
  color : $blue;
  font-size: 30px !important;
}

table {
  th, td {
    font-size: 16px;
  }
}
.content-bandeau {
  background-color: white;
  border: 1px solid black;
  select {
    font-size: 20px !important;

    height: 50px !important;
  }
  input {
    font-size: 20px !important;
    width: 80px !important;
    height: 50px !important;
    text-align: center;
  }
}
.petitselect {
  width:250px !important;
}
.grandselect {
  width:250px !important;
  font-size: 20px;
}
.toutpetit {
  font-size: 12px;
}
.nomargin {
  margin: 2px !important;
}
