.false {
  color: red;
}
.true {
  color: green;
}
#saison {
  width: 25%;
}
.dropdown{
  margin-top: 100px;
}

#toast-container {
  top: 75px !important;
  right:0px !important;
  cursor: pointer;
}
.toast-action {
  color: white !important;
}
body {
  font-family: 'Kalam', cursive;
  background-color: $body-back;
  font-size: 20px;
}
h1, h2 {
  font-family: 'Concert One', cursive;
}
label {
  font-size: 1em !important;
}
.myflex {
  display: flex;
  justify-content: space-between;
}
.mygrow {
  flex-grow:1;
}

.myalign {
  align-items: center;
}

.separator {
  border-right: 1px solid #ddd;
}
.twocol {
  width: 50%;
}
.tiercol {
  width: 30%;
}
.restcol {
  width: 70%;
}
input {
  padding: 5px;
  font-size: 1em !important;
}
.center {
  text-align: center;
}
.btn {
  background-color: $action !important;
}
.help-block {
  color: red !important;
}
.hidden {
  display:none;
}
select {
  display: block !important;
  font-size: 1.4em !important;
  margin: 10px !important;
  width: 300px !important;
}

th, td {
  padding: 2px !important;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4E00E2;
  color: white;
  text-shadow: 1px 1px black;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0px 0px 5px #222;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 0px !important;
  margin-top: 20px;
}
.mycard {
  background-color: #fff;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 0px 5px #222;
  margin-top: -10px !important;
  padding: 5px;
}
.padding {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
p {
  font-size: 0.8em;
}
.btn {
  margin: 5px;
  background-color: #4E00E2 !important;
}
