<div class="myflex content-title">
  <p><%= link_to fa_icon('home'), adherent_path(@adherent) %> / Créneaux</p>
  <h4><%= link_to fa_icon('plus-circle'), "#{new_crenau_path}?prof=#{@adherent.id}", title: "Ajouter un créneau" if @auth %></h4>
</div>
<div class="row">

</div>

<%= render 'shared/tablecrenau' %>
<hr>
<div class="center"><u>Les créneaux ponctuels</u></div>
  <div class="content-table">
<%= render 'shared/oneshootcrenau' %>
</div>
