<% if notice %>
  <script type="text/javascript">
    var $toastContent = $('<span><%= notice %></span>').add($('<button class="btn-flat toast-action"><i class="fa fa-times" aria-hidden="true"></i></button>'));
    Materialize.toast($toastContent, 4000, 'blue rounded');
  </script>
<% end %>


<% if alert %>

  <script type="text/javascript">
    var $toastContent = $('<span><%= alert %></span>').add($('<button class="btn-flat toast-action"><i class="fa fa-times" aria-hidden="true"></i></button>'));
    Materialize.toast($toastContent, 4000, 'red rounded');
  </script>
<% end %>


