  <table class="striped responsive-table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
        <tr class="pointer" onclick="location.href='<%= student_path(student) %>'">
          <td><%= student.first_name %></td>
          <td><%= student.last_name %></td>
          <td>
            <%= link_to student, class: "", method: :delete, data: { confirm: "Supprimer l'élève?" } do %>
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
