<div class="title">
  <h4><a href="#" onClick="history.go(-1);return true;">
        <i class="fa fa-chevron-circle-left"></i></a></h4>
  <h4>Modifier le créneau</h4>
  <h4></h4>
</div>

<div class="mycard">
  <%= render 'form', crenau: @crenau %>
</div>
