<div class="myflex content-title">
  <p><%= render 'shared/logo' %> /
    <%= link_to "Créneaux", adherent_crenaus_path(@adherent) %> / Edit</p>

  <%= render 'shared/logout' %>
</div>
<div class="content-bandeau">
  <%= render 'form', crenau: @crenau %>
</div>
