<div class="row back rowshadow">
  <div class="content col s12">
    <div class="myflex content-title">
      <p><%= link_to fa_icon('home'), adherent_path(@adherent) %> / Créneaux</p>
      <h4><%= link_to fa_icon('plus-circle'), "#{new_crenau_path}#{@prof}", title: "Ajouter un créneau" if @auth %></h4>
    </div>
    <div class="row">
    </div>

<%= render 'shared/tablecrenau' %>

      <div class="content-table">
<%= render 'shared/oneshootcrenau' %>
      </div>
  </div>

</div>

