          <ul>
            <% if @adherent.years.include?(@saison) %>
              <% @adherent.students.each do |student| %>
                <li class="collection-item"><%= link_to student.fullname, student_path(student), class: "fa fa-graduation-cap" %></li>
              <% end %>
              <li class="collection-item">
                <%= link_to new_adherent_student_path(@adherent) do  %>
                  <i class="fa fa-plus-circle" aria-hidden="true" title="Ajouter un élève"></i>Ajouter un élève
                <% end %>
              </li>
            <% end %>
          </ul>
