      <div class="row">
        <div class="col s4">
          <ul>
            <li class="collection-item"><%= link_to " Créneaux", adherent_crenaus_path(@adherent), class: "fa fa-calendar" %></li>
          </ul>
        </div>
        <div class="col s4">
          <ul>
        </div>
        <div class="col s4">
          <ul>
          </ul>
        </div>
      </div>
