<div class="row back rowshadow">
  <%= render 'shared/marge' %>
  <div class="content col s12 m9">
      <%= render 'shared/creneaux' if @adherent.function.name == "Professeur" %>
      <%= render 'shared/home' if ["Bureau", "Admin"].include?(@adherent.function.name) %>
  </div>
</div>


