<div class="row back rowshadow">
  <div class="content col s12">
      <%= render 'showprof' if @adherent.function.name == "Professeur" %>
      <%= render 'showadmin' if ["Bureau", "Admin"].include?(@adherent.function.name) %>
      <%= render 'showadherent' if @adherent.function.name == "Adhérent" %>
  </div>
</div>


