<p>Bonjour <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nous vous contactons pour vous informer que votre e-mail est maintenant : <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nous vous contactons pour vous informer que votre e-mail est maintenant : <%= @resource.email %>.</p>
<% end %>
<p>Musicalement, la MEI</p>
