<%= simple_form_for(@instrument) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <table>
      <tr>
        <td><%= f.input :name, label: "Nom de l'instrument" %></td>
        <td><%= f.button :submit, "Créer" %></td>
      </tr>
    </table>
  </div>
<% end %>
