<div class="myflex content-title">
  <p><%= render 'shared/logo' %> / <%= link_to "Instruments", instruments_path %> / Nouveau</p>
  <%= render 'shared/logout' %>
</div>

<div class="row back rowshadow">
  <div class="content col s12">

    <div class="content-form">
      <%= render 'form', instrument: @instrument %>
    </div>
  </div>
</div>
