<div class="row back rowshadow">
  <%= render 'shared/marge' %>
  <div class="content col s12 m9">
    <div class="myflex content-title">
      <p><%= link_to fa_icon('home'), adherent_path(@adherent) %> / <%= link_to "Tarifs", tarifs_path %> / Modifier</p>
      <h4></h4>
    </div>
    <div class="row">
      <div class="content-form">
        <%= render 'form', tarif: @tarif %>
      </div>
    </div>
  </div>
</div>
