<div class="myflex content-title">
  <p><%= render 'shared/logo' %> / <%= link_to "Tarifs", tarifs_path %> / Nouveau tarif</p>
  <%= render 'shared/logout' %>
</div>
<div class="row back rowshadow">
  <div class="content col s12">
    <div class="row">
      <div class="content-form">
        <%= render 'form', tarif: @tarif %>
      </div>
    </div>
  </div>
</div>
